.cover{
    width: 1400px;
    height: auto;
    border: 1px solid activecaption;
    margin:-7px auto;
}
.menu{
    height: auto;
    width: 100%;
    border-bottom: 1px solid activecaption;
}
.slide{
    height: auto;
    width: 100%;
    border-bottom: 1px solid activecaption;
}
.content{
    /*de cho the div nam ngang*/
    display: flex;
    width: 1000px;;
    height: auto;
    margin-left: 200px;
    margin-top: 20px;
}
.content1{
    width: 310px;
    height: auto;

}
.content2{
    width: 310px;
    height: auto;
    margin-right: 35px;
    margin-left: 35px;

}
.content11{
    width: 100%;
    height: 500px;

    margin-bottom: 20px;

}
.content11 img{
    width: 100%;
    height: 500px;
}
.content12{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
.content12 img{
     width: 100%;
    height: 300px;
}
.footer{
    border-top: 1px solid background;
    width: 100%;
    height: auto;
}
.login{
    width: 100%;
    height: auto;
}

